<a href="https://colab.research.google.com/github/nazRainer/data_visual/blob/main/sample_profit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Profit Data Sample**

In [31]:
from matplotlib import pyplot as plt

for creating figure

In [11]:
import tensorflow as tf

decorator function- converts regular python code to a callable Tensorflow graph function

In [30]:
import pandas as pd

data science/data analysis and machine learning task

In [12]:
import numpy as np

provides support for multi-dimensional arrays

In [3]:
import re

regular expression (or RE) specifies a set of strings

In [9]:
from IPython.display import HTML

Create a video object given raw data or an URL

In [4]:
import networkx as nx

creation, manipulation, and study of the structure, dynamics, and function of complex networks

In [5]:
from itertools import combinations

iterate over data structures that can be stepped over using a for-loop.

In [21]:
import torch

In [10]:
import json

In [18]:
import gym

In [26]:
df = pd.read_csv("profit-loss.csv")

In [28]:
df.head()

            SPEND    JAN    FEB    MAR  ...    SEP    OCT    NOV    DEC
0    Gross Profit  442.0  449.0  456.1  ...  501.3  509.2  517.3  525.5
1  Total Expenses  403.0  411.0  419.2  ...  471.7  481.1  490.6  500.4
2    Net Earnings   25.5   24.8   24.1  ...   19.0   18.0   16.9   15.9

[3 rows x 13 columns]