<a href="https://colab.research.google.com/github/nazRainer/data_visual/blob/main/sample_profit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from matplotlib import pyplot as plt

In [1]:
from matplotlib import pyplot as plt

In [2]:
import pandas as pd

In [3]:
import re

In [4]:
import networkx as nx

In [5]:
from itertools import combinations

In [6]:
df = pd.read_csv("Profit-and-Loss-Statement.csv")

In [7]:
df.head()

                    Unnamed: 0      JAN      FEB  ...      NOV      DEC  Full Year
0             Revenue stream 1   587.0    596.3   ...   687.1    698.0    7,692.6
1             Revenue stream 2   145.6    147.9   ...   170.4    173.1    1,907.8
2  Returns, Refunds, Discounts   (21.0)   (21.3)  ...   (24.6)   (25.0)    (275.3)
3            Total Net Revenue   711.6    722.9   ...   832.9    846.1    9,325.0
4           Cost of Goods Sold   269.6    273.9   ...   315.6    320.6    3,533.2

[5 rows x 14 columns]